*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 400px;
  
  
 

 

  
}



a{
  text-decoration: none;
}

li{
  list-style: none;
}



header{
  display: flex;
  justify-content: space-between;
  background-image: url(./image/다운로드.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  
  
}

.gnb-logo img{
  width: 200px;
  height: 100px;
  border-radius: 20%;
  opacity: 0.8;
  transition: all 400ms ease-in-out;
}

.gnb-logo img:hover{
  transform: scale(3.0);

}

.main-main{
  margin-top: 20px;
  
}

.main-main>li>a{
  color: rgba(58, 54, 60, 0.9);
  font-weight: 700;
  transition: all 400ms ease-in-out;
}

.main-main>li>a:hover{
  font-size: 20px;
  background-color: #000;
  color: #fff;
}



.main-menu-list{
  position: relative;
  z-index: 100;
  display: none;
}

.main-menu-list>li{
  background-color:  rgba(204, 25, 129, 0.9);
}

.main-menu-list>li>button{
  background-color:  rgba(25, 192, 204, 0.9);
}

.ddi{
  width: 100vw;
  height: 40px;
  background-color: rgba(8, 8, 8, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in-out;
}

.ddi:hover{
  background-color: #fff;
}

.ddi>p{
  color:#fff;
  transition: all 400ms ease-in-out;

}

.ddi>p:hover{
  color: rgba(13, 14, 13, 0.906);
  font-weight: 700;
}

main{
  background-image: url(./image/다운로드.jpg);
}

.slide-box{
  width: 100vw;
  overflow: hidden;
}


.slide-list{
  width: 500vw;
  display: flex;
  transition: all 400ms ease-in-out;
}

.slide-list>li{
  width: 100vw;
}

.slide-list>li>img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.slide-list>li>img{
  width: 400px;
}


.btn-list{
  text-align: center;
}

.btn-list button{
  background-color:  rgba(179, 233, 15, 0.9);
  border: none;
  opacity: 0.7;
}

.image-bb{
  margin-top: 20px;
  margin-left: 50px;
}

.image-list>li>img{
  width:  300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid rgba(179, 233, 15, 0.9);
  opacity: 0.3;
  transition: all 400ms ease-in-out;
  box-shadow: 5px 5px 5px #fff;
}

.image-list>li>img:hover{
  opacity: 0.9;
}

.footer-list{
  display: flex;
  background-color: black;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.footer-list>li{
  margin: 0 20px;
  
}

.footer-list>li>a{
  color: rgba(26, 233, 15,.9);
  transition: all 400ms ease-in-out;
}

.footer-list>li>a:hover{
  font-size: 30px;
  font-weight: 700;
  color: #000;
  background-color: rgb(193, 214, 31);
}

aside{
  width: 200px;
  height: 200vh;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 100;
  background-color: greenyellow;
  text-align: center;
  overflow: scroll;
  display: none;
  transition: display 400ms ease-in-out;
  
}

.sid{
  margin-top: 50px;
  
  
}

.closebutton{
  text-align: right;
  transition: all 400ms ease-in-out;
}

.closebutton:hover{
  border: 1px solid #000;
  background-color: aqua;
}

.closebutton button{
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 0);
}


.sid>ul>li{
  
  margin: 20px 0;
}

.sid>ul>li>a{
  color:#fff;
  font-size: 20px;
  font-weight: 700;
  transition: all 400ms ease-in-out;
}

.sid>ul>li>a:hover{
  background-color: aqua;
  font-size: 25px;
}

.sid-sub>li{
  margin-top: 10px;

}

.sid-sub>li>a{
  color: rgba(0, 195, 255, 0.9);
  font-weight: 700;
  transition: all 400ms ease-in-out;
}

.sid-sub>li>a:hover{
  background-color: rgb(244, 13, 13);
  color: #fff;
}

.modal{
  display: none;
  transition: all 400ms ease-in-out;
}

.modal img{
  width: 300px;
  height: 150px;
  position: fixed;
  top : 570px;
  left: 50px;
  object-fit: cover;
  transition: all 400ms ease-in-out;
  border: 5px solid rgb(0, 179, 255);

}